
{{ define "body" }}
<div class="container">
  {{ if .Data.Username }}
    <table class="table table-hover">
      <thead>
        <tr>
          <th>
            No.
          </th>
          <th>
            Text
          </th>
          <th>
            Done
          </th>
          <th>
            Created
          </th>
          <th>
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        {{ range $index, $item := .Data.Todos }}
          <tr>
            <td>
              {{ add $index 1 }}
            </td>
            <td>
              {{ $item.Text }}
            </td>
            <td>
              {{ $item.Done }}
            </td>
            <td>
              <span title="{{ float64ToTime $item.CreatedAt }}">
                {{ float64ToHuman $item.CreatedAt }}
              </span>
            </td>
            <td>
              <form action="/{{ $item.ID }}/done" method="post">
                <button type="submit" class="btn btn-info btn-xs">
                  <span class="glyphicon glyphicon-ok"></span>
                  Done 
                </button>
              </form>
            </td>
            <td>
              <form action="/{{ $item.ID }}/delete" method="post">
                <button type="submit" class="btn btn-warning btn-xs">
                  <span class="glyphicon glyphicon-remove"></span>
                  Remove
                </button>
              </form>
            </td>
          </tr>
        {{ end }}
      </tbody>
    </table>
    <div class="panel panel-default">
      <div class="panel-heading">
        Create Todo
      </div>
      <div class="panel-body">
        <form action="/create" method="post" autocomplete="off">
          <div class="form-group">
            <label for="text">Text</label>
            <input type="text" id="text" name="text" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">
            Create
          </button>
        </form>
      </div>
    </div>
  {{ end }}
</div>

{{ end }}
